@font-face {
  font-family: 'CookieRun';
  src: url('/fonts/cookie-run-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CookieRun';
  src: url('/fonts/cookie-run-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF Beau Sans';
  src: url('/fonts/pf-beau-sans-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF Beau Sans';
  src: url('/fonts/pf-beau-sans-book.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF Beau Sans';
  src: url('/fonts/pf-beau-sans-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF Beau Sans';
  src: url('/fonts/pf-beau-sans-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF Beau Sans';
  src: url('/fonts/pf-beau-sans-book-italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
